DJANGO_DEBUG=True
DJANGO_SECRET_KEY=easykey123
DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1, [::1]

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE_NAME=raturidb
SQL_USER=raturi
SQL_PASSWORD=raturi123@
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres